.tile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 80vh;
}

.row {
  display: flex;
}

.game-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-panel {
  display: flex;
  align-items: center;
  padding: 15px;
  // width: 50%;
  .timer {

  }
  .new-game {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    &:hover {
      background: #ccc;
    }
  }
  .quantity {
    margin-left: 350px;
    margin-right: 5px;
  }
}